NODE_ENV=development
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://clinica_user:clinica_pass@localhost:5432/clinica_db
DATABASE_SSL=false   # Cambiar a true para bases remotas (DigitalOcean, Supabase, etc.)

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass

# JWT
JWT_ACCESS_SECRET=change_this_to_a_long_random_secret_access
JWT_REFRESH_SECRET=change_this_to_a_long_random_secret_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
